name: Auto Reply Bot

permissions:
  issues: write
  contents: read

on:
  issues:
    types: [opened]

jobs:
  reply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: 'pip' # Speeds up the bot by saving your packages

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        run: python bot.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
